/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

.sideBar {

  min-width: 280px;
  max-width:320px;
  float:left;
  margin-left: 0;
  padding-left: 0;
  img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-left: 10px;
  }

  li {
    list-style-type: none;
    border-top: 1px solid black;
    padding: 4px
  }

  li:hover{
    background-color: #eeeeee;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.item_images {
  display:inline-block;
  li {
      width: 30%;
  }
  li:hover { background-color: #dddddd;}

}

.details {
  width:50%;
  float:left;
  padding: 20px;
  text-align:center;
  box-sizing: border-box;

  div {
    padding: 20px;
    border: 5px solid black;
    border-radius: 14px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  }

  h2 {
    font-size: 32px;;
  }

  img {
    width: 50%;
  }
  li {
    list-style-type: none;
    display:inline-block;
    margin-right: 10px;
  }

}

body {

  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;



  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}
